


a {
  color: #c0c0c0;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: #1e6e87;
}


.fa.fa-commenting-o{
  padding: 5px;
  padding-top: 0px;
  top: 10px;


}
.acme-navbar-text{
  color: white;
}

.navbar-header{
  width:120px;
  float: left;
}

.navbar-static-top{
	margin-top:2%;
}

.fl{
  float: left;
  padding: 15px;

}