.acme-navbar-text{
  color: white;
}

a {
  color: #c0c0c0;
}


.navbar-static-top{
	margin-top:2%;
}
h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: #1e6e87;
}

ul.nav.navbar-nav{
	width: 220px;
	background: white;
	margin: 0;
}

.navbar-nav > li > a {
	padding: 0;
}