/***** HEADER CSS NOT REQUIRED FOR DEMO *****/

body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: verdana;
    height: 100%;
    width: 100%;
    position: relative;
}


/* Typografy*/
h3 {
    text-transform: uppercase;
}

/* make container, and thus map, 100% width */

.container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
}

.container.middle {
    width: 100%;
    height: 100%;
}

.textWrap {
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
}

#tweets {
    position: absolute;
    top: 60px;
    left: 75px;
    z-index: 1000;
    font-size: 30px;
}

.iframe {
    padding-top: 0px;
}

.navbar-default {
    margin-top: .3%;
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover .navbar-default .navbar-nav li:hover {
    background-color: white;
    text-decoration: underline;
}


/* centered columns styles */

.row-centered {
    text-align: center;
    margin: 2%;
    padding: 2%;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.contact {
    text-align: left;
}

#map_canvas {
    position: absolute;
    z-index: 1;
    height: 63%;
    width: 100%;
}

.header {
    position: absolute;
    z-index: 2;
    color: #19535c;
    width: 100%;
}

.layer {
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    width: auto;
    bottom: 0px;
}

.col-sm-5 {
    text-align: left;
}

.content {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10px;
    display: inline-block;
}

/*Visualisations */

#twitter-messages {
    text-align: left;
    list-style-type: none;
}

.boxes{
    width: 30%;
    height: 85%;
    margin: 1.5%;
    float: left;
    background-color: white;
    padding: 2%;
}

.tweetWrap {
    overflow: scroll;
}

.visualisationOne {
}

.visualisationTwo {
}

.content.three {
    height: 80%;
    padding: 3%;
}

.row {
    line-height: 25px;
    margin: 0px auto;
}

.two {
    background-color: #E8E8E8;
}

@media screen and (min-width:700px) {
    .content {
        margin-top: 5%;
    }
}

@media screen and (min-width:700px) {
    .content {
        margin-top: 1%;
        margin-bottom: 1%;
    }
}
