<div class="jumbotron text-center">
    <h3>Some stuff about data</h3>
    <div ng-controller="MainController as vm">
        <!--   {{vm.userCheck}} -->
        <div id="tweetWrap" ng-repeat="c in vm.awesomeThings">
            <div class="tweetBox">
                <p>{{ c.text }}</p>
                <div id="boxes">
                    <div class="box {{ c.tourist.timeval }}">{{ c.user.time_zone }}</div>
                    <div class="box {{ c.tourist.langval }}">{{ c.user.lang }}</div>
                    <div class="box {{ c.tourist.cityval }}">{{ c.user.location }}</div>
                    <div class="clear"></div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
