/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

$fa-font-path: "/bower_components/font-awesome/fonts";


/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
* {
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-weight: 200;
}

#tweetWrap {
    width: 100%;
    // background: yellow;
}

.tweetBox {
    width: 40%;
    height: auto;
    background: white;
    padding: 5px;
    float: left;
    margin: 10px;
}

.detection {
    width: 30%;
    height: auto;
    background: white;
    padding: 5px;
    float: left;
     margin: 10px;
}

.clear {
    content: "";
    display: block;
    clear: both;
}

#boxes {
    display: inline-block;
}

.box {
    float: left;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.false {
    background: #ef3d47;
}

.true {
    background: lightgreen;
}

.clear {
    clear: both;
}





/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
